<!DOCTYPE html>
<html lang="en">

<head>
    <title>piirakka</title>
    {% include 'components/head.html' %}
</head>

<body class="h-screen overflow-hidden m-0
      dark:text-neutral-300">
  <div class="grid grid-cols-12 h-screen">
    <!-- Sidebar: full height -->
    <aside class="col-span-2 border-r py-3 overflow-auto h-screen
        bg-stone-50 border-gray-300 dark:bg-neutral-800 dark:border-neutral-700">
      {% include 'components/sidebar.html' %}
    </aside>

    <!-- Main Content: height minus player bar -->
    <main id="TrackHistory" style="height: calc(100vh - 4rem);"
        class="col-span-10 p-4 overflow-auto
            bg-white dark:bg-neutral-900">
      {% include 'components/track_history.html' %}
    </main>
  </div>

  <!-- Player Bar: fixed bottom right, does NOT cover sidebar -->
  <nav id="ControlBar" class="border-t shadow-lg fixed bottom-0 left-[16.66%] w-[83.33%] h-16
      bg-gray-50 border-gray-300 dark:bg-[#2b2b2b] dark:border-neutral-700">
    {% include 'components/player.html' %}
  </nav>
</body>
</html>

<script>
    // open websocket
    const socket = new WebSocket('ws://localhost:8000/api/websocket');

    // Listen for connection open event
    socket.addEventListener('open', function(event) {
        console.log('WebSocket is connected.');
    });

    // Listen for messages from the server
    socket.addEventListener('message', function(event) {
        // Parse the incoming message
        const message = JSON.parse(event.data);

        // check event type
        if (message.event === 'track_changed') {
            // set track history
            const trackHistoryElement = document.getElementById('TrackHistory');
            trackHistoryElement.innerHTML = message.html;
        }

        else if (message.event === 'control_bar_updated') {
            const controlBar = document.getElementById('ControlBar');
            controlBar.innerHTML = message.html;
        }
    });

    // Listen for connection close event
    socket.addEventListener('close', function(event) {
        console.log('WebSocket is closed now.');
    });

    // Listen for errors
    socket.addEventListener('error', function(event) {
        console.error('WebSocket error:', event);
    });

  </script>
