<!DOCTYPE html>
<html lang="en">

<head>
    <title>piirakka</title>
    {% include 'components/head.html' %}
</head>

<body class="bg-gray-100 h-screen overflow-hidden">
    <div class="grid grid-cols-12 grid-rows-12 h-full">
        <!-- Main Element -->
        <main class="col-span-10 row-span-11 bg-blue-300 p-4 overflow-auto h-[calc(100vh-2.5rem)]">
            {% include 'components/track_history.html' %}
        </main>
        <!-- Sidebar -->
        <aside class="col-span-2 row-span-12 bg-green-300 p-4 overflow-auto h-full">
            {% include 'components/sidebar.html' %}
        </aside>
        <!-- Navbar -->
        <nav class="col-span-10 col-start-1 bg-red-300 p-1 fixed bottom-0 w-[calc(100%-16.66%)]">
            {% include 'components/player.html' %}
        </nav>
    </div>
</body>
</html>
