<!DOCTYPE html>
<html lang="en">

<head>
    <title>stations | piirakka</title>
    {% include "base/head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stations.css') }}">
</head>

<body>

    <header>
        <a href="/">← back to index</a>
    </header>

    <main>
        <!-- Form for creating a new station -->
        <form id="createStationForm" onsubmit="createStation(event)">
            <label for="newStationUrl">url:</label>
            <input type="text" id="newStationUrl" name="url" required>

            <label for="newStationName">name:</label>
            <input type="text" id="newStationName" name="name" required>

            <div class="button-container">
                <button type="submit">apply</button>
            </div>
        </form>

        <h2>stations</h2>

        <!-- Table for displaying stations -->
        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>url</th>
                    <th></th> <!-- Empty column for buttons -->
                </tr>
            </thead>
            <tbody>
                <!-- Each station item with edit and delete links -->
                {% for station in stations %}
                    <tr data-index="{{ loop.index0 }}">
                        <td>{{ station.description }}</td>
                        <td>{{ station.url }}</td>
                        <td>
                            <span class="delete-link" onclick="deleteStation({{ loop.index0 }})">delete</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>

    <script>const reloadToken = "{{ reload_token }}";</script>
    <script src="{{ url_for('static', filename='js/stations.js') }}"></script>

</html>
