<!DOCTYPE html>
<html lang="en">
    <head>
        <title>settings | piirakka</title>
        <script src="static/js/websocket.js"></script>
        {% include 'components/head.html' %}
    </head>
    <body class="h-screen overflow-hidden m-0 dark:text-neutral-300">
        <div class="drawer desktop-drawer h-screen">
            <input id="sidebar-toggle" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content">
                <main id="StationSettings"
                      style="height: calc(100vh - 4rem)"
                      class="w-full overflow-auto bg-white p-4 dark:bg-neutral-900 max-sm:h-[calc(100vh-7rem)]!">
                    <label for="sidebar-toggle"
                           class="mobile-menu-button btn btn-sm btn-outline mb-3 inline-flex cursor-pointer">
                        <img class="h-5 w-5 dark:invert"
                             src="static/icons/play-list-line.svg"
                             alt="">
                        Menu
                    </label>
                    {% include 'components/station_settings.html' %}
                </main>
                <nav id="ControlBar"
                     class="desktop-player border-t shadow-lg fixed bottom-0 left-0 w-full h-16 bg-gray-50 border-gray-300 dark:bg-[#2b2b2b] dark:border-neutral-700 max-sm:h-28">
                    {% include 'components/player.html' %}
                </nav>
            </div>
            <div class="drawer-side z-40">
                <label for="sidebar-toggle"
                       aria-label="close sidebar"
                       class="drawer-overlay"></label>
                <aside id="sidebar"
                       class="h-screen w-72 max-w-[85vw] overflow-auto border-r border-gray-300 bg-stone-50 py-3 dark:border-neutral-700 dark:bg-neutral-800 lg:w-1/5">
                    {% include 'components/sidebar.html' %}
                </aside>
            </div>
        </div>
    </body>
</html>
