#playPauseText {
    cursor: pointer;
    font-size: 30px;
    text-decoration: underline;
    transition: color 0.3s ease;
    margin-bottom: 20px;
}

#playPauseText.playing {
    color: #389583;
}

#playPauseText.paused {
    color: #b25a5a;
}

#hamburgerMenu {
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

#stationsTitle {
    font-size: 24px;
    margin-top: 10px; /* Adjust as needed */
    display: none; /* Initially hidden */
    position: absolute;
    top: 50px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
}

#stationDropdown {
    position: absolute;
    top: 90px; /* Adjust as needed */
    left: 10px;
    padding: 8px;
    font-size: 14px;
    display: none;
}

#nowPlayingInfo {
    margin-top: 20px;
    text-align: center;
    font-size: 32px;
}

#recentlyPlayed {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

h1 {
    font-size: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}