<!DOCTYPE html>
<html>
<head>
    <title>piirakka</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🥧</text></svg>">
    <!-- Tailwind -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <!-- Phosphor -->
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>

<body class="bg-gray-200 font-sans text-center">

<div class="container mx-auto mt-10">
    <h1 class="text-5xl font-semibold text-gray-800">Piirakka</h1>

    <div class="mt-6">
        <button id="playPauseButton" class="hover:bg-green-300 py-3 px-10 rounded-full" data-playing="">
            <i id="playPauseIcon" class="ph ph-hourglass text-3xl"></i>
        </button>
        <button id="nextButton" class=" hover:bg-blue-300 py-3 px-10 rounded-full">
            <i class="ph ph-shuffle text-3xl"></i>
        </button>
    </div>

    <div class="mt-6">
        <p id="currentStation" class="mt-8 text-gray-600">Nyt soi:</p>
    </div>
</div>

<script>
    const playPauseButton = document.getElementById('playPauseButton');
    const playPauseIcon = document.getElementById('playPauseIcon');
    const nextButton = document.getElementById('nextButton');
    const currentStationHeader = document.getElementById('currentStation');

    playPauseButton.addEventListener('click', togglePlayPause);
    nextButton.addEventListener('click', nextStation);

    // Initial check and set the button state
    checkAndUpdateState();
    fetchCurrentStation();

    function togglePlayPause() {
        putStatus(playPauseButton.dataset.playing === "true" ? 'stop' : 'play');
    }

    function nextStation() {
        console.log('Switching to the next station.');
        putStatus('next');
        fetchCurrentStation();
    }

    function putStatus(action) {
        const xhr = new XMLHttpRequest();
        xhr.open('PUT', `/api/radio?action=${action}`, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    console.log(`Request succeeded: ${action}`);
                    checkAndUpdateState(); // Update the button state after the request
                } else {
                    console.log(`Request failed: ${action}`);
                }
            }
        };
        xhr.send();
    }

    function fetchCurrentStation() {
        const currentStationXhr = new XMLHttpRequest();
        currentStationXhr.open('GET', '/api/currentStation', true);
        currentStationXhr.onreadystatechange = function () {
            if (currentStationXhr.readyState === XMLHttpRequest.DONE) {
                if (currentStationXhr.status === 200) {
                    const data = JSON.parse(currentStationXhr.responseText);
                    currentStationHeader.textContent = "Nyt soi: " + data.name;
                } else {
                    console.log('Failed to fetch current station information.');
                }
            }
        };
        currentStationXhr.send();
    }

    function checkAndUpdateState() {
        const statusXhr = new XMLHttpRequest();
        statusXhr.open('GET', '/api/status', true);
        statusXhr.onreadystatechange = function () {
            if (statusXhr.readyState === XMLHttpRequest.DONE) {
                if (statusXhr.status === 200) {
                    playPauseIcon.classList.toggle('ph-hourglass');
                    const status = statusXhr.responseText;

                    // set play/pause button icon and background color depending on player state
                    if (status === 'playing') {
                        playPauseButton.dataset.playing = true;
                        playPauseIcon.classList.remove('ph-play');
                        playPauseIcon.classList.add('ph-pause');
                        playPauseButton.classList.replace('hover:bg-green-300', 'hover:bg-red-300');
                    } else {
                        playPauseButton.dataset.playing = false;
                        playPauseIcon.classList.remove('ph-pause');
                        playPauseIcon.classList.add('ph-play');
                        playPauseButton.classList.replace('hover:bg-red-300', 'hover:bg-green-300');
                    }
                } else {
                    console.log('Failed to fetch status information.');
                }
            }
        };
        statusXhr.send();
    }

    // Periodically check and update the button state
    setInterval(checkAndUpdateState, 5000);
    setInterval(fetchCurrentStation, 10000);
</script>

</body>
</html>
