<!-- TODO: add ellipsis when viewport too narrow -->
<div class="flex items-center space-x-4 px-2">
    <!-- Left side: Icon -->
    <img src="static/icons/music-2-line.svg" alt="Now playing icon" class="w-6 h-6">

    <!-- Right side: Text fields -->
    <div class="text-xs leading-tight">
        <!-- Track name -->
        <div>
            {{ track_name }}
        </div>
        <!-- Station and bitrate -->
        <div class="text-gray-600">
            {{ station_name }} - {{ bitrate }} ({{ codec }})
        </div>
    </div>
</div>
