<div class="overflow-y relative">
    <h1 class="sticky top-0 text-xl pb-1 ml-2">recent tracks</h1>
    <table class="table table-xs inherit h-full overflow-hidden">
      <!-- head -->
      <thead>
      </thead>
      <tbody>
        {% for track in recent_tracks %}
        <!-- TODO: add human readable timestamp (2 minutes ago, etc...) -->
        <tr>
            <th class="overflow-hidden text-ellipsis">{{ track }}</th>
            <th class="font-nunito font-light">station name</th>
            <th>
                <div class="tooltip tooltip-left" data-tip="search in Spotify">
                <a href="spotify://search/{{ track }}"><img src="static/icons/spotify-line.svg" alt="{{ spotify }} Icon" class="w-5 h-5"></a>
                </div>
            </th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
