<div class="overflow-y relative">
    <h1 class="sticky top-0 text-3xl pt-3 pb-6 pl-3 font-nunito font-semibold bg-inherit">Settings</h1>
    <div class="sticky -mt-2 top-12 divider bg-inherit"></div>
    <h2 class="text-lg font-semibold py-3 pl-3">Search streaming services</h2>

    <div class="px-3 py-2 join join-vertical space-y-2">
        <label class="label pl-3 py-0.5">
            <input type="checkbox" checked="checked" class="toggle" />
            Apple Music (web)
        </label>
        <label class="label pl-3 py-0.5">
            <input type="checkbox" checked="checked" class="toggle" />
            Apple Music (desktop)
        </label>
        <label class="label pl-3 py-0.5">
            <input type="checkbox" checked="checked" class="toggle" />
            Spotify (web)
        </label>
        <label class="label pl-3 py-0.5">
            <input type="checkbox" checked="checked" class="toggle" />
            Spotify (desktop)
        </label>
        <label class="label pl-3 py-0.5">
            <input type="checkbox" checked="checked" class="toggle" />
            YouTube
        </label>
        <label class="label pl-3 py-0.5">
            <input type="checkbox" checked="checked" class="toggle" />
            Bandcamp
        </label>
    </div>

</div>