<nav class="h-full p-1">
    <ul class="menu w-full mt-2">
        {% for item in sidebar_items %}
        <li class="mb-4">
            <a href="{{ item.url }}" class="flex items-center space-x-2 overflow-hidden text-ellipsis">
                <img src="{{ item.icon }}" alt="{{ item.name }} Icon" class="w-6 h-6">
                <span class="font-nunito whitespace-nowrap overflow-hidden text-ellipsis">{{ item.name }}</span>
            </a>
        </li>
        {% endfor %}
        <div class="divider font-nunito px-2">stations</div>
        {% for item in stations %}
        <li class="">
            <p data-stationId="{{ item }}"> station {{ item }} </p>
        </li>
        {% endfor %}
    </ul>
</nav>

<script>
    // make all stations clickable - upon click, send PUT request to select the station
    document.querySelectorAll('li p[data-stationId]').forEach(item => {
        item.addEventListener('click', function() {
            const stationId = this.getAttribute('data-stationId');

            fetch(`/api/radio/station/${stationId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ stationId: stationId })
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
        });
    });
</script>
