<script src="static/js/station_settings.js"></script>
<div class="overflow-y relative">
  <h1
    class="sticky -top-4 z-10 bg-white text-3xl pt-3 pb-6 pl-3 font-nunito font-semibold dark:bg-neutral-900"
  >
    Stations
  </h1>
  <div
    class="sticky -mt-2 top-12 z-10 divider bg-white dark:bg-neutral-900"
  ></div>
  <ul class="menu w-10/12 max-sm:w-full">
    {% for station in stations %}
    <li
      class="group"
      data-station-id="{{ station.station_id }}"
      data-station-name="{{ station.name }}"
      data-station-url="{{ station.url }}"
    >
      <div class="flex min-w-0 items-center gap-3 p-2">
        <img
          class="size-6 dark:invert opacity-0 group-hover:opacity-100 transition-opacity"
          src="static/icons/edit-line.svg"
        />
        <div class="min-w-0">
          <div class="text-lg font-semibold truncate">{{ station.name }}</div>
          <div class="truncate text-sm opacity-70" title="{{ station.url }}">
            {{ station.url }}
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% include 'components/edit_station_modal.html' %}
