<div class="dropdown dropdown-top dropdown-end z-50">
    <button type="button"
            class="hover:cursor-pointer max-sm:btn max-sm:btn-ghost max-sm:btn-sm max-sm:btn-square"
            tabindex="0"
            aria-label="Track actions">•••</button>
    <ul tabindex="0"
        class="dropdown-content menu bg-base-100 rounded-box z-50 w-64 max-h-[min(70vh,24rem)] overflow-y-auto shadow-lg text-xs">
        <li data-search-option-key="apple_music_desktop"
            class="{{ 'block' if search_options.apple_music_desktop else 'hidden' }}">
            <a href="music://music.apple.com/us/search?term={{ track.title }}">
                <img class="w-5 h-5 dark:invert"
                     src="static/icons/apple-line.svg"
                     alt="Apple Music icon">
                Search in Apple Music (desktop)
            </a>
        </li>
        <li data-search-option-key="apple_music_web"
            class="{{ 'block' if search_options.apple_music_web else 'hidden' }}">
            <a href="https://music.apple.com/en/search?term={{ track.title }}">
                <img class="w-5 h-5 dark:invert"
                     src="static/icons/apple-line.svg"
                     alt="Apple Music icon">
                Search in Apple Music (web)
            </a>
        </li>
        <li data-search-option-key="spotify_desktop"
            class="{{ 'block' if search_options.spotify_desktop else 'hidden' }}">
            <a href="spotify://search/{{ track.title }}">
                <img class="w-5 h-5 dark:invert"
                     src="static/icons/spotify-line.svg"
                     alt="Spotify icon">
                Search in Spotify (desktop)
            </a>
        </li>
        <li data-search-option-key="spotify_web"
            class="{{ 'block' if search_options.spotify_web else 'hidden' }}">
            <a href="https://open.spotify.com/search/{{ track.title }}">
                <img class="w-5 h-5 dark:invert"
                     src="static/icons/spotify-line.svg"
                     alt="Spotify icon">
                Search in Spotify (web)
            </a>
        </li>
        <li data-search-option-key="youtube"
            class="{{ 'block' if search_options.youtube else 'hidden' }}">
            <a href="https://www.youtube.com/results?search_query={{ track.title }}">
                <img class="w-5 h-5 dark:invert"
                     src="static/icons/youtube-line.svg"
                     alt="Spotify icon">
                Search in YouTube
            </a>
        </li>
        <li data-search-option-key="bandcamp"
            class="{{ 'block' if search_options.bandcamp else 'hidden' }}">
            <a href="https://bandcamp.com/search?q={{ track.title }}">
                <img class="w-5 h-5 dark:invert"
                     src="static/icons/music-line.svg"
                     alt="Bandcamp icon">
                Search in Bandcamp
            </a>
        </ul>
    </div>
