<div class="overflow-y relative">
    <h1 class="sticky -top-4 z-10 bg-white text-3xl pt-3 pb-6 pl-3 font-nunito font-semibold dark:bg-neutral-900">
        Recent tracks
    </h1>
    <div class="sticky -mt-2 top-12 z-10 divider bg-white dark:bg-neutral-900"></div>
    <table id="trackHistory"
           class="table table-zebra table-s inherit h-full overflow-x-clip max-sm:text-xs">
        <!-- head -->
        <thead>
        </thead>
        <tbody>
            {% for track in recent_tracks %}
                {% include 'components/recent_track.html' %}
            {% endfor %}
        </tbody>
    </table>
</div>
