
<div class="overflow-y relative">
    <h1 class="sticky top-0 text-3xl pt-3 pb-6 pl-3 font-nunito font-semibold bg-inherit">Recent tracks</h1>
    <div class="sticky -mt-2 top-12 divider bg-inherit"></div>
    <table class="table table-zebra table-s inherit h-full overflow-x-clip">
      <!-- head -->
      <thead>
      </thead>
      <tbody>
        {% for track in recent_tracks %}
          {% include 'components/recent_track.html' %}
        {% endfor %}
      </tbody>
    </table>
  </div>
