<div class="overflow-y relative">
    <h1 class="sticky top-0 text-3xl pt-3 pb-6 pl-3 font-nunito font-semibold bg-inherit">Welcome to piirakka!</h1>
    <div class="sticky -mt-2 top-12 divider bg-inherit"></div>
    <p class="p-3 text-lg font-nunito">
        You're ready to start listening! Add your first station by clicking on the
        <span class="px-2 py-1 m-1.5 border border-gray-400 rounded select-none">+  add new station</span>
        button in the sidebar.
    </p>
    <p class="p-3 text-lg font-nunito">
        Also check out the repository on <a class="link link-primary" href="https://github.com/santerj/piirakka">Github.</a>
    </p>
</div>
