<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{ player_state.track_title or player_state.current_station_name or
            'piirakka' }}
            {% if player_state.track_title or
                player_state.current_station_name %}
                | piirakka
            {% endif %}
        </title>
        <!---
        <script src="static/js/websocket.js"></script>
        -->
        {% include 'ng/components/head.html' %}
    </head>

    <body class="h-screen overflow-hidden bg-mist-200 dark:bg-mist-800 relative">
        {% include 'ng/components/animated_background.html' %}

        <main class="py-48 mx-32 bg-blend-color-burn dark:text-neutral-300 relative z-10">
            {% include 'ng/components/now_playing_display.html' %}
        </main>

        <nav id="ControlBar" class="">
            {% include 'ng/components/controls.html' %}
        </nav>

        <div class="drawer">
            <input id="my-drawer-1" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content z-50">
                <!-- Hamburger button in top left -->
                <label for="my-drawer-1" class="fixed top-4 left-4 btn btn-ghost btn-circle text-2xl z-40 pointer-events-auto">≡</label>
            </div>
            <div class="drawer-side">
                <label for="my-drawer-1" aria-label="close sidebar" class="drawer-overlay z-50"></label>
                <ul class="menu bg-base-200 min-h-full w-80 p-4">
                <!-- Sidebar content here -->
                <li><a>Sidebar Item 1</a></li>
                <li><a>Sidebar Item 2</a></li>
                </ul>
            </div>
        </div>

    </body>
</html>